










/* --------------------- Regole di Debug --------------------- */

.btn{
    padding: 10px 40px;
}


/* nav debug */

header{
    background-color: aqua;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

nav img{
    width: 90px;
    height: 50px;
    background-color: red;
}
nav ul {
    padding-left: 0px;
}

nav li{
    float: left;
    display: inline-block;
    margin: 0px 10px;

}

nav .btn-sm{
    width: 90px;
    height: 20px;
    background-color: cornflowerblue;
}

/* fine nav debug */

/* hero debug */

#hero{
    background-color: cadetblue;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.w-80{
    width: 80%;
    margin: 0 auto;
}

.container{
    background-color: rgba(255, 0, 0, 0.234);
}

#hero .container{
    padding: 0px 28%;
}

#hero ul{
    list-style-type: none;
    margin-top: 36px;
    margin-bottom: 36px;
}

#hero li{
    display: inline-block;
    margin: 0px 10px;
}

.btn.primary-light-btn{
    background-color: white;
}

.btn.dark-btn{
    background-color: black;
    color: #fff;
}
/* fine hero debug */